/*----------additional class---------------*/
._container {
    max-width: 1046px;
    margin: 0 auto;
    box-sizing: content-box;
    /*чтобы контент не прилипал к странице*/
    padding: 0 15px;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/*------------HEADER----------------*/
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}

@media (max-width: 479px) {
    .header__container {
        min-height: 70px;
    }
}

.header__logo {
    font-weight: 700;
    color: inherit;
    font-size: 24px;
}

.header__menu {
    margin-left: 133px;
}

@media (max-width: 992px) {
    .header__menu {
        margin-left: 80px;
    }
}

@media (max-width: 767px) {
    .header__menu {
        margin-left: 40px;
    }
}

@media (max-width: 479px) {
    .header__menu {
        margin-left: 20px;
    }
}

.menu {
    /*контент при уменьшении ширины экрана контент не прилипает к верхней границе экрана*/
    padding: 5px 0;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item:not(:last-child) {
    margin: 0 20px 0 0;
}

.menu__link {
    color: #737373;
    font-weight: 600;
    /*получаем отступы между элементами, когда они выстраиваются в колонну в колонну*/
    line-height: calc(24 / 14 * 100%);
    margin: 1px;
}

@media (max-width: 479px) {
    .menu__link {
        font-size: 18px;
    }
}

/*-----------------------page----------------------------*/
.page {
    flex: 1 1 auto;
}

.page__main-block {
    position: relative;
}

.page__services {
    margin: -111px 0 0 0;
    position: relative;
    z-index: 2;
}

/*------------MAIN-BLOCK------------------------------------*/
/*.main-block {*/

/*}*/

/*.main-block__container {*/

/*}*/

.main-block__body {
    max-width: 400px;
    padding: 184px 0 191px;
    position: relative;
    z-index: 2;
}

.main-block__body > *:not(:last-child) {
    margin: 0 0 35px 0;
}

.main-block__title {
    color: #252B42;
    font-size: 58px;
    font-weight: 800;
    line-height: 137%;
    letter-spacing: 0.2px;
}

.main-block__text {
    color: #737373;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.2px;
}

.main-block__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
}

.main-block__button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    line-height: 150%;
    min-height: 48px;
    letter-spacing: 0.2px;
    padding: 5px 36px;
    border-radius: 37px;
    margin: 10px 0;
}

.main-block__button_orange {
    color: #FFF;
    background-color: #FF7B47;
}

.main-block__button_border {
    color: #0D5C63;
    border: solid 1px #0D5C63;
}

.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 1300px) {
    .main-block__image img {
        object-position: right;;
    }
}

@media (max-width: 992px) {
    .main-block__image {
        opacity: .6;
    }

    .main-block__text {
        color: #3b3b3b;

    }

    .main-block__body {
        padding: 120px 0 191px;
    }
}

@media (min-width: 479px) {
    .main-block__buttons > *:not(:last-child) {
        margin-right: 10px;
    }
}

@media (max-width: 479px) {
    .main-block__title {
        font-size: 42px;
    }

    .main-block__button {
        flex: 1 1 100%;
    }
}

/*------SERVICES------------------------*/
.services {

}

.services-container {

}

@media (min-width: 670px) {
    .services_body {
        display: flex;
        margin: 0 -15px -30px;
        flex-wrap: wrap;
    }

    .services_column {
        padding: 0 15px;
    }
}

.services_column {
    flex: 0 1 33.33%;
}

@media (max-width: 992px) {
    .services_column {
        flex: 0 1 50%;
    }

    .services_column:last-child {
        flex: 1 1 100%;
    }

    .services_column:not(:last-child) {
        margin: 0 0  30px 0;
    }
}

.services__item {
    height: 100%;
    box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
    padding: 35px;
}

@media (max-width: 479px) {
    .services__item {
        padding: 25px;
    }
}
.item_service_green {
    background-color: #0D5C63;
}

.item_service_green .item-service__title {
    color: #fff;
}

.item_service_green .item-service__text {
    color: #fff;
}

.item_service > *:not(:last-child) {
    margin: 0 0 10px 0;
}

.item-service__icon {

}

.item-service__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 133%;
}

.item-service__text {
    font-size: 14px;
    line-height: 142%;
    font-weight: 500;
    color: #737373;
}